{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>

    <div  class="mdc-card__action-buttons">
        <label class="mdc-text-field mdc-text-field--filled" for="inputUsername">
            <span class="mdc-text-field__ripple"></span>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mdc-text-field__input" type="text" aria-labelledby="my-label-id" required autofocus>
            <span class="mdc-line-ripple"></span>
            Username
        </label>
        <label class="mdc-text-field mdc-text-field--filled" for="inputPassword">
            <span class="mdc-text-field__ripple"></span>
            <input type="password" value="{{ last_username }}" name="password" id="inputPassword" class="form-control mdc-text-field__input" type="text" aria-labelledby="my-label-id" required autofocus>
            <span class="mdc-line-ripple"></span>
            Password
        </label>
    </div>

    <div  class="mdc-card__action-buttons">
        <button class="btn btn-lg mdc-button--raised mdc-button mdc-button--touch" type="submit">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">
                login
            </i>
            <span class="mdc-button__label">Se connecter</span>
            <span class="mdc-button__touch"></span>
        </button>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}
