{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">S'inscrire</h1>

    <div  class="mdc-card__action-buttons">
    {{ form_start(registrationForm) }}
        <label class="mdc-text-field mdc-text-field--filled">
            <span class="mdc-text-field__ripple"></span>
        {{ form_row(registrationForm.username) }}
            <span class="mdc-line-ripple"></span>
        </label>
        <label class="mdc-text-field mdc-text-field--filled">
            <span class="mdc-text-field__ripple"></span>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
            <span class="mdc-line-ripple"></span>
        </label>
    </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-lg mdc-button--raised mdc-button mdc-button--touch" type="submit">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">
                input
            </i>
            <span class="mdc-button__label">S'inscrire</span>
            <span class="mdc-button__touch"></span>
        </button>
    {{ form_end(registrationForm) }}
{% endblock %}
