<div class="mdc-card">
    <div class="mdc-card__primary-title">
            {{ annonce.nom }}
    </div>
    Auteur : {{ annonce.auteur.username }}
    <div class="mdc-card__primary-content">
        <p>{{ annonce.description | raw}}</p>
        <p>Prix : {{ annonce.prix }}</p>
    </div>
    <div class="mdc-card__actions">
        <button onclick="location.href='{{ path('annonce_show', {'id': annonce.id}) }}'" class="mdc-button mdc-button--raised">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">
                visibility
            </i>
            <span class="mdc-button__label">Visualiser</span>
        </button>
    </div>
</div>

