<div class="mdc-card" id="minicard">
    {{ form_start(form) }}
    <div>
        <div>
            <label class="mdc-text-field mdc-text-field--filled" for="{{ form.children.nom.vars.id }}">
                <span class="mdc-text-field__ripple"></span>
                <input type="text"
                       id="{{ form.children.nom.vars.id }}"
                       name="{{ form.children.nom.vars.full_name }}"
                       value="{{ form.nom.vars.value }}"
                       class="form-control mdc-text-field__input"
                       aria-labelledby="my-label-id" required autofocus>
                <span class="mdc-line-ripple"></span>
                Nom
            </label>
            {% do form.nom.setRendered %}
        </div>
        <div>
            <label class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea">
                <span class="mdc-text-field__ripple"></span>
                    Description
                    <textarea class="mdc-text-field__input"
                              id="{{ form.children.description.vars.id }}"
                              name="{{ form.children.description.vars.full_name }}"
                              aria-labelledby="my-label-id"
                              rows="8"
                              cols="60"
                              maxlength="140"
                              aria-label="Label">{{  form.description.vars.value }}
                    </textarea>
                <span class="mdc-line-ripple"></span>
            </label>
            {% do form.description.setRendered %}
        </div>
        <div>
            <label class="mdc-text-field mdc-text-field--filled" for="{{ form.children.prix.vars.id }}">
                <span class="mdc-text-field__ripple"></span>
                <input type="text"
                       id="{{ form.children.prix.vars.id }}"
                       name="{{ form.children.prix.vars.full_name }}"
                       value="{{ form.prix.vars.value }}"
                       class="form-control mdc-text-field__input"
                       aria-labelledby="my-label-id" required autofocus>
                <span class="mdc-line-ripple"></span>
                Prix
            </label>
            {% do form.prix.setRendered %}
        </div>

        <div>
            <label class="mdc-text-field mdc-text-field--filled" for="{{ form.children.categorie.vars.id }}">
                <span class="mdc-text-field__ripple"></span>
                <span>Categorie :</span>
                <select
                        id="{{ form.children.categorie.vars.id }}"
                       name="{{ form.children.categorie.vars.full_name }}"
                       class="form-control"
                       aria-labelledby="my-label-id" required autofocus>
                    {% if annonce.categorie != null %}
                        <option value="{{ form.categorie.vars.value }}">{{ annonce.categorie.nom }}</option>
                    {% endif %}
                    {% for categorie in categories %}
                        <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                    {% endfor %}
                </select>
                <span class="mdc-line-ripple"></span>
            </label>
            {% do form.categorie.setRendered %}
        </div>

        <div class="mdc-card__actions">
            <div>
                <button type="submit" class="mdc-button mdc-button--raised">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">
                        save_alt
                    </i>
                    <span class="mdc-button__label">{{ button_label }}</span>
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>