<div class="mdc-card" id="minicard">
    <div class="mdc-card__primary-title">
        {{ annonce.nom }}
    </div>
    <div class="mdc-card__primary-content">
        {{ annonce.description | raw}}
        Prix : {{ annonce.prix }}
    </div>
    <div class="mdc-card__actions">
        <div onclick="location.href='{{ path('annonce_delete',{id:annonce.id}) }}'" class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Supprimer</span>
            </button>
        </div>
        <div onclick="location.href='{{ path('annonce_edit',{id:annonce.id}) }}'" class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Modifier</span>
            </button>
        </div>
    </div>
</div>