<div class="mdc-card" id="minicard">
    <div class="mdc-card__primary-title">
        {{ annonce.nom }}
    </div>
    <span>Auteur : {{ annonce.auteur.username }}</span>
    <span>Catégorie : {{ annonce.categorie.nom }}</span>
    <div class="mdc-card__primary-content">
        {{ annonce.description | raw}}
        Prix : {{ annonce.prix }}
    </div>
    {% if ((app.user != null) and (app.user.id == annonce.auteur.id)) %}
        <div class="mdc-card__actions">
            <button onclick="location.href='{{ path('annonce_edit',{id:annonce.id}) }}'" class="mdc-button mdc-button--raised">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">
                    edit
                </i>
                <span class="mdc-button__label">Modifier</span>
            </button>

            <button onclick="location.href='{{ path('annonce_delete',{id:annonce.id}) }}'" class="mdc-button mdc-button--raised">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon" aria-hidden="true">
                    delete
                </i>
                <span class="mdc-button__label">Supprimer</span>
            </button>
        </div>
    {% endif %}
</div>